.reservation{
    font-family: 'Noto Sans', sans-serif !important;
}

td{
    overflow: hidden;
}

.lien_table{
    position: relative;
}

/* Lien sur toute la cellule */
.lien_table::before{
    content: "";
    position: absolute;
    height: 500px;
    width: 500px;
}

.calendar__table{
    width: 100%;
    height: 100%;
}

.calendar__table td {
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: top;
    width: 14.29%;
    height: 20%;
}

.calendar__table a{
    text-decoration: none;
    color: black;
}

.calendar__table td:hover{
    background-color: #198754;
}

.calendar__table--6weeks td{
    height: 16.66%;
}

.calendar__weekday{
    align-self: flex-start;
    font-weight: bold;
    color: black;
    font-size: 0.8em;
}

.calendar__othermonth .calendar__day{
    opacity: 0.3;
}